<% layout("layout/boilerplate.ejs") %>

  <body>
    <div class="row mt-3">
      <div class="col-12 col-lg-10 col-md-8 offset-lg-1 offset-md-2">
        <h3>
          <%= listing.title %>
        </h3>
      </div>
      <div class="col-12 col-lg-10 col-md-8 offset-lg-1 offset-md-2">
        <div class="card card-border img-card mb-3">
          <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="<%= listing.image.filename %>">
          <div class="card-body mt-2">
            <p class="card-text">
              <span>Posted by </span><i>
                <%=listing.owner.username %>
              </i><br>
              <%= listing.description %>
                </br><span>Tickat : </span>&#8377; <%= listing.price.toLocaleString("en-IN") %>/ person
                  <br>
                  <%= listing.location %>
                    <br>
                    <%= listing.country %>
            </p>
          </div>
        </div>
      </div>

      <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
        <div class="col-12 col-lg-10 col-md-8 offset-lg-1 offset-md-2 d-flex">
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn me-3">Edit</a>
          <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark add-btn">Delete</button>
          </form>
        </div>
        <% } %>

          <!-- // comment Block -->
          <div class="col-12 col-lg-10 col-md-8 offset-lg-1 offset-md-2 mb-3 mt-3">
            <% if(currentUser){ %>
              <h4>Leav a Comment</h4>
              <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>

                <label for="rating">Rate US</label>
                <input type="range" name="review[rating]" id="rating" class="form-range" min="1" max="5" step="1"
                  value="0" />

                <div class="mb-3">
                  <label for="comment">Comment</label>
                  <textarea name="review[comment]" id="comment" class="form-control" rows="5" cols="30"
                    placeholder="Enter your comment here..." required></textarea>
                  <div class="invalid-feedback">
                    Please leave a comment! 🙂
                  </div>
                  <div class="valid-feedback">
                    Good! <i class="fa-regular fa-thumbs-up"></i>
                  </div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
              </form>
              <% } %>
          </div>


          <!-- reviews block -->

          <div class="col-12 col-lg-10 col-md-8 offset-lg-1 offset-md-2 ">
            <% listing.reviews.forEach((review)=>{ %>
              <div class="container my-5 p-0">
                <div class="card p-4">
                  <div class="reviewlu d-flex mb-2">
                    <div class=" review-logo">
                      <img
                        src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?semt=ais_hybrid&w=740"
                        alt="Review Logo" class="img-fluid">
                    </div>
                    <h4 class="mb-2"><span id="reviewer">@<%= review.author.username %>
                      </span></h4>
                  </div>
                  <p class="text-muted">
                    <i class="bi bi-calendar"></i> Posted on <span id="date">
                      <%= review.createdAt.toLocaleDateString("en-IN") %>
                    </span>
                  </p>
                  <div class="mb-3">
                    <% for (let i=1; i <=5; i++) { %>
                      <% if (i <=review.rating) { %>
                        <i class="bi bi-star-fill text-warning"></i>
                        <% } else { %>
                          <i class="bi bi-star text-warning"></i>
                          <% } %>
                            <% } %>
                              <span id="rating-stars" class="text-warning fs-10"></span>
                              <span class="ms-2 fs-11" id="rating-value">
                                <%= review.rating %>/5
                              </span>
                  </div>
                  <blockquote class="blockquote ">
                    <p class="mb-0" id="review-body">
                      <%= review.comment %>
                    </p>
                  </blockquote>
                  
                    <div class="mt-4 d-flex">
                      <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST"
                        class="ms-2">
                        <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i> Delete</button>
                      </form>
                    </div>
 
                </div>
              </div>
              <% }) %>
          </div>
          
    </div>
  </body>

  <!--  Script to dynamically generate stars -->
